<% layout('layouts/boilerplate') %>

<div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
            <input class="form-control" type="text" name="campground[title]" id="title" value="<%= campground.title %>"  required> 
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class= "mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>"  required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
        <label for="image" class="form-label">Upload Photo</label>
          <input type="file" name="image" id="image" multiple>
        </div>
        <div class="mb-3">Campground Price
            <div class="input-group mt-3">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input name="campground[price]" value="<%= campground.price %>" type="text" class="form-control" placeholder="0.00 $" aria-label="Price" aria-describedby="Price-label" required>
                <div class="valid-feedback">
                Looks good!
            </div>
            </div>
        </div>

        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
            <textarea class="form-control" type="text" name="campground[description]" id="description"  required><%= campground.description %></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div> 
        <div class="mb-3">
            <button class="btn btn-success" type="submit">Edit</button>
            </div>
    </form>

    <button class="btn btn-warning text-dark"><a  style="text-decoration: none;" href="/campgrounds/<%= campground._id %>">Back</a></button>
        </div>
    </div>